.container {
  text-align: center;
  min-width: 360px;
}

.card {
  min-height: 500px;
  max-height: 500px;
}

.card-header {
  min-height: 60px;
  position: relative;
}

.card-title {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.widget {
  position: relative;
  width: 300px;
  height: auto;
  padding-bottom: 10px;
  margin: 10px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
}
.widget .cover {
  height: 160px;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}
.widget .photo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #fff;
  border-radius: 50%;
}
.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}
.widget h1 {
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}
.widget h3 {
  font-size: 12px;
}
.widget ul {
  position: absolute;
  top: 20px;
  padding: 0;
  border-radius: 20px;
  background: #2cdfd3;
}

.widget ul.position-left {
  left: 5px;
}
.widget ul.position-right {
  right: 5px;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 3px 6px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  transition: background-color 0.3s;
}
.widget ul li:hover > a {
  background-color: cadetblue;
}
